.main {
  width: 1090px;
  margin: 0 auto;
  margin-top: 50px;
  min-height: 1000px;
}

.main .page_left {
  float: left;
  width: 253px;
  min-height: 500px;
}

.main .page_right {
  width: 810px;
  min-height: 500px;
  float: right;
}

.main .page_right .filter {
  width: 810px;
  height: 30px;
  margin-top: 10px;
  background: #fff;
  margin-bottom: 25px;
}

.main .page_right .filter ul {
  float: left;
}

.main .page_right .filter li {
  float: left;
  line-height: 30px;
  font-size: 12px;
  color: #666666;
}

.main .page_right .filter .filter_left {
  width: 448px;
}

.main .page_right .filter .filter_left li {
  width: 70px;
  padding-left: 25px;
  border-right: 1px solid #f1f1f1;
  cursor: pointer;
}

.main .page_right .filter .filter_left .sort {
  width: 74px;
  cursor: text;
}

.main .page_right .filter .filter_left .sell {
  position: relative;
}

.main .page_right .filter .filter_left .sell img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.main .page_right .filter .filter_left .popu {
  position: relative;
}

.main .page_right .filter .filter_left .popu img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.main .page_right .filter .filter_left .score {
  position: relative;
}

.main .page_right .filter .filter_left .score img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.main .page_right .filter .filter_left .regi {
  width: 94px;
  padding-left: 20px;
  position: relative;
}

.main .page_right .filter .filter_left .regi img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.main .page_right .filter .filter_left .rate {
  position: relative;
}

.main .page_right .filter .filter_left .rate img {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.main .page_right .filter .filter_right {
  width: 362px;
  padding-left: 28px;
}

.main .page_right .filter .filter_right .goods_num {
  color: #818284;
  margin: 0 62px 0 26px;
  cursor: text;
}

.main .page_right .filter .filter_right .page a img {
  cursor: pointer;
}

.main .page_right .article {
  width: 810px;
  min-height: 500px;
}

.main .page_right .article .dispy {
  position: relative;
  width: 252px;
  height: 482px;
  background: #fff;
  margin: 0 27px 27px 0;
}

.main .page_right .article .dispy:nth-child(3), .main .page_right .article .dispy:nth-child(6), .main .page_right .article .dispy:nth-child(9), .main .page_right .article .dispy:nth-child(12), .main .page_right .article .dispy:nth-child(15), .main .page_right .article .dispy:nth-child(18), .main .page_right .article .dispy:nth-child(21), .main .page_right .article .dispy:nth-child(24) {
  margin-right: 0;
}

.main .page_right .article .dispy .dispy_img {
  height: 253px;
  width: 253px;
}

.main .page_right .article .dispy .dispy_img img {
  width: 99%;
  height: 100%;
}

.main .page_right .article .dispy .dispy_sele {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #EC3E7D;
}

.main .page_right .article .dispy .dispy_sele span {
  line-height: 20px;
  text-align: center;
  padding-left: 5px;
  color: #fff;
  font-weight: 999;
}

.main .page_right .article .dispy .ibm {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #98999b;
}

.main .page_right .article .price {
  width: 253px;
  height: 48px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  color: #858587;
  padding-left: 20px;
}

.main .page_right .article .price span {
  line-height: 48px;
}

.main .page_right .article .price .price_dis {
  color: #ec3e7d;
  font-size: 24px;
  margin-right: 8px;
}

.main .page_right .article .price .price_orig {
  color: #858587;
  font-size: 14px;
  margin-right: 10px;
  text-decoration: line-through;
}

.main .page_right .article .price .price_count {
  float: right;
  color: #C99A7A;
  font-size: 14px;
  margin-right: 5px;
}

.main .page_right .article .intpro_top {
  font-size: 13px;
  color: #3e3e3e;
  font-weight: 900;
  padding-left: 15px;
}

.main .page_right .article .intpro_top .intpro_tx {
  color: #ee9c23;
  float: left;
}

.main .page_right .article .intpro_top .intpro_sz {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  outline: 0 !important;
  width: 45px;
}

.main .page_right .article .intpro_bt {
  font-size: 13px;
  color: #3e3e3e;
  padding-left: 15px;
}

.main .page_right .article .pcs {
  margin-top: 17px;
  font-size: 12px;
  color: #404040;
  padding-left: 15px;
  line-height: 28px;
}

.main .page_right .article .sales {
  font-size: 12px;
  color: #B9B9B9;
  padding-left: 15px;
  line-height: 28px;
}
